{% extends 'base.html' %}

{% block title %}
Панель администратора
{% endblock title %}

{% block content %}

<p>Добро пожаловать в панель администратора!</p>
<a href="{% url 'city_list' %}">Посмотреть или изменить список городов</a>
<p></p>
<a href="{% url 'shop_list' %}">Посмотреть или изменить список магазинов</a>
<p></p>
<a href="{% url 'good_list' %}">Посмотреть или изменить список ингредиентов</a>
<p></p>
<a href="{% url 'manufacturer_list' %}">Посмотреть или изменить список производителей</a>
<br>
{% endblock %}