{% extends 'base.html' %}

{% block title %}
Панель клиента
{% endblock title %}

{% block content %}
<p>
<br>Вы можете сами создать и рассчитать предварительную стоимость торта, выбрав основные параметры из предложенного списка. Конечно же, это не полный спектр возможностей, и более детально ваша заявка будет проработана нашим менеджером. Для удобства вы можете здесь же оставить комментарий о пожеланиях по исполнению; прикрепить эскиз или фото того, что нравится по стилю; указать удобное время для обратной связи.<br>
<br>Срок изготовления: Изготовление торта — от двух дней в зависимости от сложности работы.<br>
<br>Предоплата: 50% от стоимости торта<br>
<br><a href="{% url 'cake_create' %}" class="btn btn-primary">Создать торт</a>
<br>
</p>
{% endblock %}
