{% extends 'base.html' %}

{% block title %}
Goods
{% endblock title %}

{% block content %}

<table border="2">
    <tr>
        <th>Название ингредиента</th>
        <th>Цена</th>
        <th>Производитель</th>
        <th>Количество</th>
        <th>Фото</th>
        <th>Статус</th>
        <th></th>
    </tr>
    {% for good in goods %}
    <tr>
        <th>{{good.name}}</th>
        <th>{{good.price}}</th>
        <th>{{good.manufacturer}}</th>
        <th>{{good.quantity}}</th>
        <th>{{good.photo}}</th>
        <th>{{good.status}}</th>
        <th> <a href="{% url 'good_update' good.id %}">Редактировать</a> /
             <a href="{% url 'conf_del_good' good.id %}">Удалить</a></th>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'good_create' %}">Добавить новый ингредиент</a>

{% endblock %}